* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-image: url(../multimedia/Imagen/background\ contact\ us.jpg);
    background-size: cover;
    background-color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
}

.title { 
    width: 45%;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
}
img {
    width: 100%;
}

.content-contact {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}

.formulario {
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: transparent;
}

.box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.etiqueta {
    width: 80%;
    /* height: 2rem; */
    margin: 10px;
}
.form-group {
    /* background-color: #fff; */
    width: 100%;
    height: 1.5rem;
    text-size-adjust: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group i {
    margin-right: 8px;
}

.form-input {
    width: 100%;
    text-align: center;
}

/*img {
    width: 100%;
}*/

.map {
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    float: right;
    /* margin-top: -350px; */
}

.map iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    float: right;
}

.map p {
    text-align: justify;
    width: 75%;
    margin: auto;
}
@media screen and (max-width: 768px) {
    body {
      font-size: 1rem;
      line-height: 1.25;
    }
    
    .content-contact {
        flex-direction: column;
    }

    .formulario, .map {
        width: 75%;
    }

   
    /* .flex-wrapper {
      flex-direction: column;
    }
    
    .flex-wrapper a:hover {
      flex: 1;
    }
    
    .flex-wrapper a:hover .overlay {
      background-color: transparent;
    }
    
    .flex-wrapper .overlay h2,
    .flex-wrapper .overlay p {
      opacity: 1;
      visibility: visible;
      transform: none;
    } */
  }