* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-family: 'Josefin Sans', sans-serif;

}

.title { 
    width: 45%;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
}
img {
    width: 100%;
}


.formulario {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.box {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.etiqueta {
    width: 80%;
    /* height: 2rem; */
    margin: 10px;
}
.form-group {
    /* background-color: #fff; */
    width: 100%;
    height: 1.5rem;
    text-size-adjust: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input {
    width: 100%;
    text-align: center;
}