* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-image: url(../multimedia/Imagen/background\ recipes.jpg);
    background-size: cover;
    background-color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

.content-multi {
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    margin: auto;
    display: grid;
    /* gap: 50px 100px; */
    grid-template-columns: 33% 33% 33%;
    padding: 10px;
}

.card {
    width: 90%;
    /* height: 20vh; */
    /* background-color: #fff; */
    /* margin: auto; */
    /* border: #000; */
    border-radius: 1px solid 5% #000;
    padding: 10px;

}

.card video {
    width: 100%;
    display: flex;
    justify-content: center;
}